.App{
    width: 100%;
  }

  .swiper-slide{
    display: block;
  }
  
  .image-container {
    position: relative;
    width: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }